beautifulsoup4==4.6.3 ; python_version > "3"
bs4==0.0.1 ; python_version > "3"
certifi==2024.7.4 ; python_version > "3"
chardet==3.0.4 ; python_version > "3"
idna==3.7 ; python_version > "3"
lxml==4.9.1 ; python_version > "3"
requests==2.32.0 ; python_version > "3"
urllib3==1.26.19 ; python_version > "3"

nltk==3.9
